@page "/player/myplayer/{iD:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http

<h3>PlayerPage</h3>
<h3><img src="https://resources.premierleague.com/premierleague/photos/players/110x140/p@(selectedPlayer.photo)" /></h3>


@code 
{
    Player selectedPlayer = new();
    [Parameter]
    public int iD { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        string baseUrl = "https://localhost:7214/";
        selectedPlayer = await Http.GetFromJsonAsync<Player>($"{baseUrl}api/player/myplayer/{iD}");
    }
   
}

@code{
    
}
